<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>flight</title>
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->

  <section id="flightapp">
    <header id="header">
      <h1>flight</h1>
      <form action="." method="POST">
        <input name="category" id="category" placeholder="What kind of place?">
        <input name ="distance" id="distance" placeholder="How far away?">
        <input name ="center" id="center"   placeholder="Where will we start?">
        <input type="submit" name="my-form" id="enter_button" value="Enter">
      </form>
    </header>
  </section>

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="underscore-min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="jquery-2.2.3.min.js"></script>
  <script src="backbone-min.js"></script>

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
    var app = {};

    app.Area = Backbone.Model.extend({
      defaults:{
        category: '',
        distance: '',
        center: ''
      }
    });

    app.AppView = Backbone.View.extend({
     el: '#flightapp',
     initialize: function(){
       this.render();
     }
   });

   app.appView = new app.AppView();
  </script>

</body>
</html>
